<section class="h-full py-20 xl:p-20 2xl:p-0 2xl:h-full 2xl:py-5 w-full bg-cloud-white flex-col xl:flex-row flex items-center 2xl:justify-center text-ashen-black">
    <img class="w-[750px] hidden xl:flex 2xl:w-[900px]" src="/jsm/images/about-image.png" />
    <div class="flex flex-col gap-8 justify-start items-start w-full px-10 md:p-0 md:w-[600px] 2xl:w-[800px]">
        <span class="text-bright-azure font-semibold">SOBRE NÓS</span>
        <h1 class="text-ashen-black text-4xl xl:text-5xl font-bold">Conheça um pouco sobre nossa empresa</h1>
        <p class="text-xl xl:text-2xl">A JSM Engenharia atua na fábricação de Semáforos de LED com técnologia 
            própria e tem como objetivo o bom atendimento para com seus clientes, 
            com tecnologia inovadora oferecendo total garantia em seus produtos e 
            serviços.</p>
            <div class="flex w-full gap-2">
                <div class="w-[50px] h-[7px] bg-bright-azure rounded-full"></div>
                <div class="w-[110px] h-[7px] bg-bright-azure rounded-full"></div>
            </div>
            <div class="flex flex-col md:flex-row justify-between 2xl:justify-start 2xl:gap-10 w-full">
                <div class="flex flex-col mb-10 md:mb-0">
                    <div class="flex gap-2 mb-3 md:mb-10">
                        <i class="fa-solid fa-building text-4xl xl:text-5xl" style="color: #397efc;"></i>
                        <p class="text-ashen-black text-2xl md:text-3xl font-bold">Atuação</p>
                    </div>
                    <p class="w-full md:w-[250px] font-semibold text-xl md:text-2xl leading-6">Estamos no mercado à mais de 30 anos</p>
                </div>
                <div class="flex flex-col">
                    <div class="flex gap-2 mb-3 md:mb-10">
                        <i class="fa-solid fa-traffic-light text-4xl xl:text-5xl" style="color: #397efc;"></i>
                        <p class="text-ashen-black text-2xl md:text-3xl font-bold">Produtos</p>
                    </div>
                    <p class="w-full md:w-[250px] font-semibold text-xl md:text-2xl leading-6">Mais de 32 produtos fornecidos</p>
                </div>
            </div>
            <NavLink href="contato" class="bg-bright-azure font-bold hover:bg-[#0f43c3] transition 
            ease-linear text-white p-5 rounded-md">Entrar em Contato</NavLink>
    </div>
    <img class="w-[650px] flex xl:hidden" src="/jsm/images/about-image.png" />
</section>