<section class="h-full xl:py-32 3xl:h-full flex items-center justify-center 3xl:justify-between 3xl:px-[30rem] gap-10 text-ashen-black">
    <div class="hidden xl:flex w-[700px]">
        <img src="/jsm/images/about-our-services.png" />
    </div>
    <div class="flex flex-col items-start gap-5 w-full p-10 md:w-[700px] xl:w-[600px] 3xl:w-[900px]">
        <div class="flex flex-col">
            <span class="text-md font-bold text-ashen-black">SERVIÇOS</span>
            <div class="flex gap-2 mb-8">
                <div class="w-[30px] h-[7px] bg-bright-azure rounded-full"></div>
                <div class="w-[60px] h-[7px] bg-bright-azure rounded-full"></div>
            </div>
        </div>
        <h1 class="text-4xl xl:text-5xl">Saiba mais sobre nossos Serviços especializados</h1>
        <p class="font-semibold text-xl">Na JSM Engenharia, oferecemos uma gama completa de serviços especializados 
            para garantir a segurança e a eficiência no controle de tráfego urbano. Contamos com profissionais 
            altamente capacitados e tecnologias de ponta para atender às demandas de sinalização e engenharia.
        </p>
        <div class="flex flex-wrap gap-5 items-start justify-between">
            <div class="flex flex-col w-full xl:w-[250px]">
                <div class="flex items-center gap-5">
                    <i class="fa-solid fa-traffic-light text-4xl xl:text-5xl" style="color: #3880f9;"></i>
                    <h2 class="text-2xl font-bold">Sinalização</h2>
                </div>
                <p class="font-semibold text-xl">Sistemas modernos de semáforos</p>
            </div>
            <div class="flex flex-col w-full xl:w-[250px]">
                <div class="flex items-center gap-5">
                    <i class="fa-solid fa-location-dot text-4xl xl:text-5xl" style="color: #3880f9;"></i>
                    <h2 class="text-2xl font-bold">Atuação Regional</h2>
                </div>
                <p class="font-semibold text-xl">Atendemos todo o Brasil</p>
            </div>
        </div>
        <NavLink href="produtos" class="bg-bright-azure transition ease-in-out hover:bg-azure-depths
         font-semibold text-white py-5 xl:py-5 px-14 xl:px-20 rounded-md">Ver Produtos</NavLink>
    </div>
</section>