<section class="text-ashen-black p-10 xl:px-20 xl:pt-20 2xl:px-40 3xl:px-[30rem] flex flex-col items-center justify-center">
    <div class="flex flex-col w-full">
        <span class="text-md font-bold text-ashen-black">NOSSOS SERVIÇOS</span>
        <div class="flex gap-2 mb-8">
            <div class="w-[30px] h-[7px] bg-bright-azure rounded-full"></div>
            <div class="w-[60px] h-[7px] bg-bright-azure rounded-full"></div>
        </div>
    </div>
    <div class="w-full flex items-center justify-between mb-20">
        <h1 class="text-4xl xl:text-5xl w-full md:w-[600px]">Conheça nossos principais serviços</h1>
        <NavLink href="produtos" class="hidden xl:flex bg-bright-azure transition ease-in-out hover:bg-azure-depths 
        font-semibold text-white py-5 px-20 rounded-md">Ver Produtos</NavLink>
    </div>
    <div class="w-full flex flex-wrap xl:flex-nowrap gap-5 items-center justify-center">
        <div class="w-full md:w-[400px] h-[400px] shadow-smoke shadow-md flex flex-col gap-5 items-center 
        justify-center text-center p-10 rounded-md">
            <i class="fa-solid fa-traffic-light text-7xl" style="color: #397efc;"></i>
            <h2 class="text-3xl font-bold">Sinalização Semafórica</h2>
            <p class="text-xl font-semiboldw">Instalação e manutenção de semáforos inteligentes 
                para otimização do trânsito.</p>
        </div>
        <div class="w-full md:w-[400px] h-[400px] shadow-smoke shadow-md flex flex-col gap-5 items-center 
        justify-center text-center p-10 rounded-md">
            <i class="fa-solid fa-industry text-7xl" style="color: #397efc;"></i>
            <h2 class="text-3xl font-bold">Fabricação & Venda</h2>
            <p class="text-xl font-semiboldw">Produção e comercialização de equipamentos de 
                sinalização e controle de tráfego.</p>
        </div>
        <div class="w-full md:w-[400px] h-[400px] shadow-smoke shadow-md flex flex-col gap-5 items-center 
        justify-center text-center p-10 rounded-md">
            <i class="fa-solid fa-server text-7xl" style="color: #397efc;"></i>
            <h2 class="text-3xl font-bold">Controlador de Tráfego</h2>
            <p class="text-xl font-semiboldw">Sistemas automatizados para gerenciar o fluxo 
                de veículos em tempo real.</p>
        </div>
        <div class="w-full md:w-[400px] h-[400px] shadow-smoke shadow-md flex flex-col gap-5 items-center 
        justify-center text-center p-10 rounded-md">
            <i class="fa-solid fa-screwdriver-wrench text-7xl" style="color: #397efc;"></i>
            <h2 class="text-3xl font-bold">Acessórios para GF</h2>
            <p class="text-xl font-semiboldw">Soluções complementares para sistemas de 
                controle e gestão de tráfego.</p>
        </div>
    </div>
</section>