<section class="h-full p-10 md:p-20 2xl:h-[70vh] w-full bg-beneficies-work-with-us text-white flex flex-col items-center justify-center mb-20">
    <h1 class="text-5xl mb-5 md:mb-0">Diferenciais da JSM</h1>
    <p class="text-misty-blue text-xl font-semibold w-full md:w-[600px] text-left md:text-center mb-10 leading-5">Oferecemos um ambiente estimulante e inovador, com oportunidades de crescimento, projetos
        desafiadores e um forte compromisso com a diversidade e inclusão.
    </p>
    <div class="flex flex-wrap xl:flex-nowrap justify-center items-center gap-10">
        <div class="bg-deep-sea hover:bg-[#17256e] transition ease-in-out h-full md:h-[350px] w-full md:w-[300px] flex flex-col gap-5 p-10 rounded-xl">
            <i class="fa-solid fa-handshake text-5xl" style="color: #188ff5;"></i>
            <span class="text-xl font-bold">Ambiente Colaborativo</span>
            <p class="text-misty-blue font-semibold">Aqui, o trabalho em equipe é parte essencial da nossa rotina, com todos ajudando e aprendendo juntos.</p>
        </div>
        <div class="bg-deep-sea hover:bg-[#17256e] transition ease-in-out h-full md:h-[350px] w-full md:w-[300px] flex flex-col gap-5 p-10 rounded-xl">
            <i class="fa-solid fa-chart-line text-5xl" style="color: #188ff5;"></i>
            <span class="text-xl font-bold">Oportunidades de crescimento</span>
            <p class="text-misty-blue font-semibold">Oferecemos um plano de carreira estruturado, abrindo portas reais para promoções e desenvolvimento continuo.</p>
        </div>
        <div class="bg-deep-sea hover:bg-[#17256e] transition ease-in-out h-full md:h-[350px] w-full md:w-[300px] flex flex-col gap-5 p-10 rounded-xl">
            <i class="fa-solid fa-rocket text-5xl" style="color: #188ff5;"></i>
            <span class="text-xl font-bold">Foco na Inovação</span>
            <p class="text-misty-blue font-semibold">Nossa cultura valoriza a criatividade, abrindo espaço para testar e aplicar novas ideias com liberdade.</p>
        </div>
        <div class="bg-deep-sea hover:bg-[#17256e] transition ease-in-out h-full md:h-[350px] w-full md:w-[300px] flex flex-col gap-5 p-10 rounded-xl">
            <i class="fa-solid fa-chalkboard-user text-5xl" style="color: #188ff5;"></i>
            <span class="text-xl font-bold">Mentoria Especializada</span>
            <p class="text-misty-blue font-semibold">Aproveite a orientação de profissionais experientes que proporcionarão insights valiosos e apoiarão seu crescimento profissional.</p>
        </div>
    </div>
</section>