<section class="h-screen hidden xl:flex items-center justify-center bg-cloud-white">
    <div class="bg-cta h-[500px] w-full p-20 3xl:pl-60 text-ashen-black">
        <div class="w-[600px]">
            <h2 class="text-ashen-black text-5xl font-extrabold mb-10 archivo-black-regular">Pronto para transformar 
                sua sinalização viária?</h2>
            <p class="text-2xl font-bold mb-20">Entre em contato com a JSM Engenharia hoje mesmo e descubra
                como nossas soluções inovadoras podem atender às suas necessidades. 
            </p>
            <NavLink href="https://wa.me/5518981900031?text=Gostaria%20de%20agendar%20uma%20consultoria."
            class="bg-azure-depths text-white p-5 rounded-md hover:bg-[#0f43c3] 
            transition ease-linear font-bold">Agende uma Consultoria</NavLink>
        </div>
    </div>
</section>

<section class="h-full md:h-screen flex xl:hidden items-center justify-center bg-cloud-white">
    <div class="w-full py-10 text-ashen-black">
        <div class="w-full bg-[#a5c9e8] h-full p-10">
            <h2 class="text-ashen-black text-4xl font-extrabold mb-10 w-full md:w-[600px] archivo-black-regular">Pronto para transformar 
                sua sinalização viária?</h2>
            <p class="text-2xl font-bold mb-20 w-full md:w-[600px]">Entre em contato com a JSM Engenharia hoje mesmo e descubra
                como nossas soluções inovadoras podem atender às suas necessidades. 
            </p>
            <NavLink href="https://wa.me/5518981900031?text=Gostaria%20de%20agendar%20uma%20consultoria."
            class="bg-azure-depths text-white p-5 rounded-md hover:bg-[#0f43c3] 
            transition ease-linear font-bold">Agende uma Consultoria</NavLink>
        </div>
    </div>
</section>