<section class="bg-header w-full h-screen text-white flex flex-col items-center justify-center gap-10 p-10 xl:p-0">
    <span class="border border-bright-azure p-3 rounded-md">SERVIÇOS</span>
    <h1 class="text-4xl xl:text-5xl 2xl:text-6xl w-full md:w-[500px] xl:w-[700px] text-center">Explore serviços em sinalização</h1>
    <div class="flex flex-col md:flex-row items-start md:items-center gap-5 md:gap-10">
        <p class="text-xl font-bold"><span class="text-bright-azure font-extrabold text-xl">•</span>Mais de 30 anos de mercado</p>
        <p class="text-xl font-bold"><span class="text-bright-azure font-extrabold text-xl">•</span>Atendimento em todo Brasil</p>
    </div>
    <div class="hidden md:flex items-center gap-5">
        <NavLink href="/contato"
         class="bg-white text-deep-sea p-5 rounded-md 
        transition ease-linear hover:bg-light-gray">Entrar em Contato</NavLink>
        <NavLink href="/produtos"
         class="border border-bright-azure p-5 rounded-md 
        transition ease-linear hover:bg-bright-azure">Ver Produtos</NavLink>
    </div>
    <div class="flex md:hidden items-center gap-5">
        <NavLink href="/contato"
         class="bg-white text-deep-sea p-3 rounded-md 
        transition ease-linear hover:bg-light-gray">Contato</NavLink>
        <NavLink href="/produtos"
         class="border border-bright-azure p-3 rounded-md 
        transition ease-linear hover:bg-bright-azure">Produtos</NavLink>
    </div>
</section>