<section class="p-10 xl:p-20 bg-process-area h-full w-full">
    <div class="flex flex-col items-start justify-start">
        <span class="text-md font-bold text-misty-blue">NOSSO PROCESSO</span>
        <div class="flex gap-2 mb-8">
            <div class="w-[50px] h-[7px] bg-bright-azure rounded-full"></div>
            <div class="w-[100px] h-[7px] bg-bright-azure rounded-full"></div>
        </div>
    </div>
    <h1 class="text-4xl xl:text-6xl text-white xl:w-[500px]">Entenda como é nosso processo</h1>
    <div class="w-full flex flex-wrap item-center justify-center gap-10">
        <div class="relative">
            <div class="bg-deep-sea w-32 h-32 rounded-full flex items-center justify-center relative top-16 left-[113px] xl:left-[85px]">
                <i class="fa-regular fa-message text-6xl" style="color: #fff;"></i>
            </div>
            <div class="bg-deep-sea h-[350px] w-[350px] xl:w-[300px] rounded-2xl flex flex-col text-center items-center justify-center p-10">
                <span class="text-white text-xl font-bold">Analise de Necessidades</span>
                <p class="text-misty-blue font-semibold">Nessa primeira etapa vamos entender o que você precisa.</p>
            </div>
        </div>
        <div class="relative">
            <div class="bg-deep-sea w-32 h-32 rounded-full flex items-center justify-center relative top-16 left-[113px] xl:left-[85px]">
                <i class="fa-solid fa-pen text-6xl" style="color: #fff;"></i>
            </div>
            <div class="bg-deep-sea h-[350px] w-[350px] xl:w-[300px] rounded-2xl flex flex-col text-center items-center justify-center p-10">
                <span class="text-white text-xl font-bold">Desenvolvimento do Projeto</span>
                <p class="text-misty-blue font-semibold">Elaboramos uma solução personalizada para atender suas necessidades.</p>
            </div>
        </div>
        <div class="relative">
            <div class="bg-deep-sea w-32 h-32 rounded-full flex items-center justify-center relative top-16 left-[113px] xl:left-[85px]">
                <i class="fa-solid fa-industry text-6xl" style="color: #fff;"></i>
            </div>
            <div class="bg-deep-sea h-[350px] w-[350px] xl:w-[300px] rounded-2xl flex flex-col text-center items-center justify-center p-10">
                <span class="text-white text-xl font-bold">Fabricação e Preparação</span>
                <p class="text-misty-blue font-semibold">Fabricamos com tecnologia própria, garantindo qualidade e durabilidade.</p>
            </div>
        </div>
        <div class="relative">
            <div class="bg-deep-sea w-32 h-32 rounded-full flex items-center justify-center relative top-16 left-[113px] xl:left-[85px]">
                <i class="fa-solid fa-traffic-light text-6xl" style="color: #fff;"></i>
            </div>
            <div class="bg-deep-sea h-[350px] w-[350px] xl:w-[300px] rounded-2xl flex flex-col text-center items-center justify-center p-10">
                <span class="text-white text-xl font-bold">Implantação Semafórica Local</span>
                <p class="text-misty-blue font-semibold">Realizamos a instalação completa, garantindo funcionalidade e segurança.</p>
            </div>
        </div>
        <div class="relative">
            <div class="bg-deep-sea w-32 h-32 rounded-full flex items-center justify-center relative top-16 left-[113px] xl:left-[85px]">
                <i class="fa-solid fa-screwdriver-wrench text-6xl" style="color: #fff;"></i>
            </div>
            <div class="bg-deep-sea h-[350px] w-[350px] xl:w-[300px] rounded-2xl flex flex-col text-center items-center justify-center p-10">
                <span class="text-white text-xl font-bold">Suporte Técnico e Manutenção</span>
                <p class="text-misty-blue font-semibold">Oferecemos suporte contínuo e manutenção para garantir o desempenho ideal dos seus equipamentos.</p>
            </div>
        </div>
    </div>
</section>