<section class="flex items-center justify-center gap-20 text-ashen-black mb-40">
    <div class="hidden xl:flex w-[600px]">
        <img src="/jsm/images/img-work-instalation.png" />
    </div>
    <div class="w-full p-10 md:p-0 md:w-[650px] flex flex-col gap-5">
        <div class="flex flex-col">
            <span class="text-md font-bold text-ashen-black">TRABALHE CONOSCO</span>
            <div class="flex gap-2 mb-8">
                <div class="w-[50px] h-[7px] bg-bright-azure rounded-full"></div>
                <div class="w-[100px] h-[7px] bg-bright-azure rounded-full"></div>
            </div>
        </div>
        <h1 class="text-4xl xl:text-5xl">Venha fazer parte da JSM e transforme o futuro com a gente!</h1>
        <p class="font-semibold text-xl">Na JSM, valorizamos talentos que fazem a diferença. Aqui, suas ideias são ouvidas, 
            e você encontra oportunidades de crescimento e desenvolvimento em um ambiente 
            dinâmico e colaborativo. Se você busca desafios e quer transformar o futuro com 
            tecnologia e inovação, este é o seu lugar.
        </p>
        <p class="font-semibold text-xl">Se você deseja entrar em nossa equipe, envie seu currículo para: <span class="text-bright-azure">jsm@jsmengenharia.com.br</span>.</p>
        <div class="flex flex-col gap-5">
            <div class="flex items-center gap-5">
                <i class="fa-solid fa-circle-check" style="color: #2bb673;"></i>
                <p class="font-semibold text-xl">Ambiente de trabalho colaborativo e de aprendizado contínuo.</p>
            </div>
            <div class="flex items-center gap-5">
                <i class="fa-solid fa-circle-check" style="color: #2bb673;"></i>
                <p class="font-semibold text-xl">Apoio para participação em eventos e conferências do setor.</p>
            </div>
            <div class="flex items-center gap-5">
                <i class="fa-solid fa-circle-check" style="color: #2bb673;"></i>
                <p class="font-semibold text-xl">Programa de mentoria com profissionais experientes.</p>
            </div>
        </div>
    </div>
</section>