<footer class="bg-footer text-misty-blue text-xl p-10 xl:py-10 xl:px-20">
    <div class="flex items-center justify-between">
        <NavLink href="/">
        <img class="h-20" src="/images/white-logo.png" />
        </NavLink>
        <p class="text-xl hidden md:flex">Entre em contato conosco</p>
    </div>
    <div class="flex flex-wrap xl:flex-nowrap items-center justify-between mb-12">
        <ul class="flex flex-col md:flex-row items-start md:items-center gap-5 mb-10 xl:mb-0">
            <NavLink href="/"><li class="hover:text-white">Início</li></NavLink>
            <NavLink href="/sobre"><li class="hover:text-white">Sobre</li></NavLink>
            <NavLink href="/trabalhe-conosco"><li class="hover:text-white">Trabalhe conosco</li></NavLink>
            <NavLink href="/produtos"><li class="hover:text-white">Produtos</li></NavLink>
            <NavLink href="/servicos"><li class="hover:text-white">Serviços</li></NavLink>
        </ul>
        <div class="flex items-center gap-5">
            <NavLink href="/servicos" 
            class="py-4 px-10 border border-white rounded-xl
             text-white hover:bg-white hover:text-deep-sea transition ease-linear">Serviços</NavLink>
            <NavLink href="/contato" 
            class="py-4 px-10 bg-azure-depths rounded-xl 
            text-white hover:bg-[#0f43c3] transition ease-linear">Contato</NavLink>
        </div>
    </div>
    <div class="w-full h-[3px] bg-misty-blue mb-5"></div>
    <p>JSM Engenharia e Sinalização Ltda</p>
</footer>